$theme-colors: (
  "primary": rgb(42, 41, 66),
  "secondary": #b6f9c9,
  "dark": rgb(11, 11, 11),
  "info": #a8c7b1
);
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$header-font: "Raleway", sans-serif;
$normal-font: "Merriweather", serif;

@import "../node_modules/bootstrap/scss/bootstrap";

html {
    overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: $normal-font;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font;
  }
}
main {
  background: #000101;
  #galleryContainer {
    padding: 15px;
  }
}

#navRow {
  position: relative;
}

.brand-logo {
  width: 40px;
}
#brandName {
  position: relative;

  font-size: 2em;
}

// #navItems {
//   position: relative;
//   top: 42px;
//   li {
//     margin-left: 10px;

//   }
// }

#headBanner {
  position: relative;
  background-image: url("../images/cover-r.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: calc(100vh - 126px);
  background-position: center;
  //   background-color: blue;
  //   background: url("../assets/images/waves.gif") no-repeat center center;
  // -webkit-background-size: 100% 100%;
  // -moz-background-size: 100% 100%;
  // -o-background-size: 100% 100%;
  // background-size: 100% 100%;
  .banner-flavor {
    position: absolute;
    bottom: 20%;
    left: 5%;

    h1,
    h3 {
      color: $light;
    }
    h1 {
      font-weight: bolder;
    }
    button {
      border-radius: 22px;
      margin-top: 50px;
    }
  }
}

h3 {
  color: $light;
}

#works {
  width: 500px;
  text-align: center;
  margin: 50px auto;
  margin-bottom: 100px;
  border-bottom: 1.2px solid #a8c7b1;
}

#myCarousel,
#myCarousel2,
#myCarousel3 {
  max-width: 100%;
  max-height: 600px;
  background-color: #010101;
}

#lowerBanner {
  position: relative;
  background-image: url("../images/street.jpg");
  background-size: cover;
  height: 400px;
  button {
    border-radius: 22px;
  }
}

.jumbo-content {
  position: relative;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 350px;
}

.bot-link {
  list-style: none;
}

.bot-list {
  padding-left: 0;
}

.social-link {
  list-style: none;
  display: inline;
  a {
    font-size: 2em;
    margin: 2px 5px;
    color: #a8c7b1;

    &:hover {
      color: #cff8db;
    }
  }
}

.myCard {
  border: none;
  h5 {
    background: black;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
}

// for about
.about-me {
  padding: 20px;
  color: #d3d3d3;
}

//for contact

.contact-jumbo {
  background-image: url(../images/lower.jpg);
  background-size: cover;
  background-position: 0 80%;
  position: relative;
  color: #eee;
  text-shadow: 1px 1px #a8c7b1;
  h1 {
    background: rgba(0, 0, 0, 0.5);
  }
}

.contact-container {
  .my-map {
    border-radius: 10px;
    background: #cff8db;
    padding: 5px;
  }
  .my-form {
    background-color: #eee;
    border-radius: 10px;
    &:focus {
      background-color: #cdf8d9;
    }
  }
}

.contact-button {
  border-radius: 22px;
}

footer {
  border-top: 1.4px solid #a8c7b1;
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
    width: 100%;

    #works {
      width: 300px;
      text-align: center;
      margin: 50px auto;
    }

    .banner-flavor {
      position: static;
      margin: 0 auto;
      padding: 5px;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  #brandName {
    font-size: 1.3em;
  }
  .lowerInfo {
    color: white;
    h5 {
      text-align: center;
    }
    .bot-list {
      text-align: center;
    }
    .social-link {
      text-align: center;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
}

@media (min-width: 769px) {
  body {
    overflow-x: hidden;
  }
}